* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.mobile-pic {
	display: none;
}

.resume-link {
	font-size: 17px;
}

.my-name {
	font-size: 30px;
}

.euiPageSideBar {
	position: fixed;
	display: block;
	width: 250px;
	margin-top: -22px;
}

.euiPageBody {
	margin-left: 270px;
	margin-top: -22px;
}

.euiSideNav {
	width: 124px;
}

.euiListGroup {
	width: 242px;
}

.desk-contact {
	width: 186px;
}

.euiCollapsibleNavGroup {
	display: none;
}

/* Mobile Styles */
@media only screen and (max-width: 767px) {
	.mobile-pic {
		display: block;
		width: 55%;
		margin: 0 auto;
		margin-top: 95px;
	}

	.euiPageSideBar {
		display: none;
	}

	.euiPageBody {
		margin-left: 0px;
	}

	.euiCollapsibleNavGroup {
		display: block;
		position: fixed;
		z-index: 1;
		width: 100%;
		margin-top: -95px;
	}
}
